<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
    <header class="hero is-small is-warning">
        <div class="hero-body">
            <h1 class="title is-1">Site title</h1>
        </div>
    </header>
    <main  class="tile is-ancestor">
        <nav class="menu secion is-large">
            <a href="/home"><h2 class="navbar-item">HOME</h2></a>
            <br>
            <a href="/archive"><h2 class="navbar-item">Archive</h2></a>
            <br>
            <a href="/visit"><h2 class="navbar-item">Visit</h2></a>
            <br>
            <a href="/lottery"><h2 class="navbar-item">Lottery</h2></a>
            <br>
        </nav>
    {{{ body }}}
    </main>
    
</body>
</html>