<section class="hero">
  <div class="hero-body">
    <p class="title">
      Your characters
    </p>
    <p class="subtitle">
      Placeholder {{serializedData.name}}
    </p>
    {{#each serializedData.charUsers as |char|}}
<p>mood: {{char.mood}}</p>
    {{/each}}
  </div>
</section>