<div class="tile is-parent">
    <section class="tile is-child">
        <h3 class="tile tag title is-4">Greetings!</h3>
        <figure class="box tile is-10">
            <img src="./assets/img/placeholder.svg" width="35%"/>
            <h2 class="title is-4">Character details</h2> 
        </figure>
        
    </section>
</div>