<section class="section is-medium">
  <h1 class="title">Banner with rate up character</h1>
  <h2 class="subtitle">
    A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
  </h2>
  <button class="button">Daily Free Roll</button>
  <div></div>
  <br>
  <button class="button">10 Roll</button>
  <button class="button">Paid Roll</button>
</section>